<div class="ml-4 border border-gray rounded rounded-xl py-2 w-max px-4">
  <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    {{ selection }}
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="selectHouse('slytherin')">slytherin</li>
      <li nz-menu-item (click)="selectHouse('gryffindor')">gryffindor</li>
      <li nz-menu-item (click)="selectHouse('ravenclaw')">ravenclaw</li>
      <li nz-menu-item (click)="selectHouse('hufflepuff')">hufflepuff</li>
    </ul>
  </nz-dropdown-menu>
</div>
