<nz-table #basicTable [nzData]="estudiantes" nzFrontPagination="false">
  <thead>
    <tr>
      <th>Name</th>
      <th>Patronus</th>
      <th>Age</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{ estudiante.name }}</td>
      <td>{{ estudiante.patronus }}</td>
      <td>{{ getAge(estudiante.yearOfBirth) }}</td>
      <td>
        <img
          *ngIf="estudiante.image"
          class="size-image"
          [src]="estudiante.image"
        />
        <h1 *ngIf="!estudiante.image">imágen de {{ estudiante.actor }}</h1>
      </td>
    </tr>
  </tbody>
</nz-table>
