/* You can add global styles to this file, and also import other style files */

@media (min-width: 0px) and (max-width: 640px) {
  .size-image {
    width: 50px !important;
    height: 50px !important;
  }
}
@media (min-width: 641px) and (max-width: 100vw) {
  .size-image {
    width: 200px !important;
    height: 200px !important;
  }
}
