<nz-table #basicTable [nzData]="profesores" nzFrontPagination="false">
  <thead>
    <tr>
      <th>Name</th>
      <th>Patronus</th>
      <th>Age</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profesor of profesores">
      <td>{{ profesor.name }}</td>
      <td>{{ profesor.patronus }}</td>
      <td>{{ getAge(profesor.yearOfBirth) }}</td>
      <td>
        <img *ngIf="profesor.image" class="size-image" [src]="profesor.image" />
        <h1 *ngIf="!profesor.image">imágen de {{ profesor.actor }}</h1>
      </td>
    </tr>
  </tbody>
</nz-table>
