<div class="mt-4">
  <ul nz-menu nzMode="horizontal" class="w-100 flex justify-end">
    <li nz-menu-item nzSelected routerLink="personajes">
      <div class="flex flex-wrap items-center justify-center">
        <i class="mx-2 size-icon" nz-icon nzType="user"></i>
        <h1>Personajes</h1>
      </div>
    </li>
    <li nz-menu-item routerLink="estudiantes">
      <div class="flex flex-wrap items-center justify-center">
        <i class="mx-2 size-icon" nz-icon nzType="book"></i>
        <h1>Estudiantes</h1>
      </div>
    </li>
    <li nz-menu-item routerLink="profesores">
      <div class="flex flex-wrap items-center justify-center">
        <i class="mx-2 size-icon" nz-icon nzType="audit"></i>
        <h1>Profesores</h1>
      </div>
    </li>
  </ul>
</div>
